.Camera {
  position: absolute;
  width: 9999px;
  -webkit-overflow-scrolling: touch;

  &-Img {
    width: auto;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    transform-origin: center center;
    -webkit-overflow-scrolling: touch;
  }
}